@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Aparajita', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Times New Roman', serif;
}
